$Blue-Dream: #0072F0;
$Green-Crack: #1CE0AD;
$LA-Confidential: #0022AC;
$NYC-Diesel: #01BBB4;
$White-Widow: #FFFFFF;
$Grandaddy-Purp: #1B1443;

$background-grey: #EEF2F4;

$headline-font: 'Poppins', sans-serif;
$body-font: 'Noto Sans', sans-serif;

@import 'settings';

@mixin breakpoint($point) {
	@if $point == mobile {
		@media (min-width: 0px) { @content ; }
	} 
	@else if $point == tabletP {
		@media (min-width: 600px) { @content ; }
	}
	@else if $point == desktop {
		@media (min-width: 1100px) { @content ; }
	}
 }

 body{
     background: $background-grey;
 }